.home-section1 {
  background: #111;
  height: 20rem;
  width: 100%;
  overflow: hidden;
  background: url("../../../assests/common/home-section-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.game-logo {
  width: 240px;
  height: 100%;
}
.home-button-icon{
  display: none;
}
.home-right {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  .games-slider {
    background: #000;
    border: #efd48d 1px solid;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.home-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  h1 {
    color: #fff;
  }
  p {
    color: #adadad;
  }
  a,button {
    transition: 0.5s;
    background: repeating-linear-gradient(
        75grad,
        rgba(0, 0, 0, 0) 25%,
        rgba(255, 255, 255, 0.6) 26%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      ),
      gold;
    border: none;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;
    animation: mymove 5s infinite linear;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    &:hover{
      text-decoration: none
    }
  }
}
.home-section2 {
  @extend .home-section1;
  background: url("../../../assests/common/home-section-bg2.jpg");

  .home-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.6);

    h1 {
      color: #fff;
    }
    p {
      color: #adadad;
      text-align: right;
    }
    a,button {
      background: repeating-linear-gradient(
          75grad,
          rgba(0, 0, 0, 0) 25%,
          rgba(255, 255, 255, 0.6) 26%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 100%
        ),
        gold;
      border: none;
      width: 10rem;
      height: 2.5rem;
      font-weight: bold;
      animation: mymove 5s infinite linear;
      border-radius: 5px;
    }
  }
  .home-left {
    background: transparent;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
@keyframes mymove {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 500px 0px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none ;
  }
  .home-button-icon{
    display: block;
  }
  .home-section1,
  .home-section2 {
    flex-direction: column;
    height: auto;
    background: #222;
    .home-right,
    .home-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      padding: .5rem 1rem;
      box-shadow: #000 inset 0px 0px 10px 0px;
      h1 {
        font-size: 1rem;
        margin: 0;
      }
      p {
        display: none;
      }
      a,button {
        width: 7rem;
        height: 1.3rem;
        font-size: 0.7rem;
        background: none;
        color:gold;
        font-weight: 400;
        display: flex;
        justify-content:flex-end;
        align-items: center;
      }
      .games-slider{
        background: none;
        width: 100%;
        border: none;
        height: 9rem;
      }
    }
  }
  .home-section2{
    flex-direction: column-reverse;
    .home-left{
      justify-content: flex-start;
    }
    .home-right{
      box-shadow: #000 inset 0px 0px 10px 0px;
    }
  }
  .container {
    padding: 0;
  }
  .game-logo{
    background: #000;
    border: 1px solid #efd48d;

  }
}
