
.home-guide {

  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 60%;
  margin-bottom: 1rem;
}
.home-guide-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.guide-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.guide-step {
  margin-right: .5rem;
}
.guide-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #edcc6b;
  font-weight: bold;
  margin: .5rem 0;
}

.guide-img{
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .home-guide{
    width: 100%;
    height: 100%;
  }
  .home-guide-content{
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .guide-card {
    width: 45%;
    align-items: center;
    &:nth-child(odd){
      margin-right: 5%;
    }
  }
  .guide-img{
    width: 100%;
    height: 100%;
  }
}
