.home-promo{
    width: 60%;
    height: 20rem;
    .swiper-container{
        height: 89%;
    }
}
.home-promo-slide{
    background: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:768px){
    .home-promo{
        width: 100%;
        margin: 1rem 0;
    }
}

