nav {
  display: flex;
  align-items: center;
}
nav a {
  color: #000;
  text-decoration: none;
  // padding: 5px 15px;
  font-size: 1rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5rem 1rem;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: gold;
    background: #000;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
